# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/

*.code-workspace
slurm-*
*.txt
scripts/untar_files.sh
*junk*
created_dirs
created_dirs/
*.log
output/
created_dirs/
*.code-workspace
